html {
  background-color: #282828;
}

#chat_container {
  text-align: center;
  background-color: #282828;
}

#chat {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #282828;
  font-family: OCR A Std, monospace;
  color: #e9ffe5;
  /*  border: ridge 15px;
  border-color: #e5fffb;
  padding: 10px; */
}

#formA {
  display: inline-block;
  width: auto;
  height: auto;
  color: white;
}

#formA_container {
  margin-top: 25px;
  text-align: left;
}

input[name='name'] {
  height: 40px;
  width: 100px;
  font-size: 32px;
  background-color: #282828;
  border: none;
  color: white;
}

input[name='message'] {
  height: 100px;
  width: 250px;
  font-size: 32px;
  background-color: #282828;
  border: none;
  color: white;
}

button[type='submit'] {
  height: 40px;
  width: 60px;
  background: none;
  border: 0;
}
